{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper col-lg-5">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    <h1>Programmer Rendez vous</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <ul>
            <input  class="btn btn-success btn-sm" type="submit" value="Valider" />
    {{ form_end(form) }}

            <a  class="btn btn-success btn-sm" href="{{ path('rendezvous_index') }}" role="button">Retour</a>
    </ul>
    </div>
{% endblock %}
