{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper ">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    <h1>Rendez-vous</h1>

    <table class="table table-responsive table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rendezvous.id }}</td>
            </tr>
            <tr>
                <th>Date du rendez-vous</th>
                <td>{% if rendezvous.date %}{{ rendezvous.date|date('d-M-y H:m') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fréquence</th>
                <td>{{ rendezvous.frequence }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

            <a class="btn btn-success btn-sm" href="{{ path('rendezvous_index') }}"
            role="button">Retour</a>

            <a class="btn btn-success btn-sm" href="{{ path('rendezvous_edit', { 'id': rendezvous.id })
            }}" role="button">Modifier</a>
    </ul>
    <ul>
            {{ form_start(delete_form) }}
                <input  class="btn btn-outline-danger btn-sm" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}

    </ul>
</div>
{% endblock %}
