{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <h1>Liste des patients </h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Sexe</th>
                <th>Date de naissance</th>
                <th>Addresse</th>
                <th>Télèphone</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td><a href="{{ path('patient_show', { 'id': patient.idpatient }) }}">{{ patient.idpatient }}</a></td>
                <td>{{ patient.nompatient }}</td>
                <td>{{ patient.prenompatient }}</td>
                <td>{{ patient.sexepatient }}</td>
                <td>{% if patient.datenaisspatient %}{{ patient.datenaisspatient|date('Y-m-d') }}{% endif %}</td>
                <td>{{ patient.addressepatient }}</td>
                <td>{{ patient.telpatient }}</td>
                <td>{{ patient.agepatient }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('patient_show', { 'id': patient.idpatient }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('patient_edit', { 'id': patient.idpatient }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('patient_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
