{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <h1>Patient</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.idpatient }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ patient.nompatient }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ patient.prenompatient }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ patient.sexepatient }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{% if patient.datenaisspatient %}{{ patient.datenaisspatient|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Addressepatient</th>
                <td>{{ patient.addressepatient }}</td>
            </tr>
            <tr>
                <th>Telpatient</th>
                <td>{{ patient.telpatient }}</td>
            </tr>
            <tr>
                <th>Agepatient</th>
                <td>{{ patient.agepatient }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('patient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('patient_edit', { 'id': patient.idpatient }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
