{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper ">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    <h1>Patient</h1>

    <table class="table table-responsive table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ patient.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ patient.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ patient.sexe }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{% if patient.datenaissance %}{{ patient.datenaissance|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ patient.addresse }}</td>
            </tr>
            <tr>
                <th>Télèphone</th>
                <td>{{ patient.telephone }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ patient.age }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

            <a class="btn btn-success btn-sm" href="{{ path('patient_index')
            }}" role="button">Retour </a>

            <a class="btn btn-success btn-sm" href="{{ path('patient_edit', { 'id': patient.id })
            }}" role="button">Modifier</a>
    </ul>
    <ul>
            {{ form_start(delete_form) }}
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
    </ul>
</div>
{% endblock %}
