{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    <h1>Liste des ordonnances</h1>

    <table  class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordonnance in ordonnances %}
            <tr>
                <td><a href="{{ path('ordonnance_show', { 'id': ordonnance.id }) }}">{{ ordonnance.id}}</a></td>
                <td>{% if ordonnance.date %}{{ ordonnance.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                            <a class="btn btn-secondary btn-sm" href="{{ path('ordonnance_show',
                            { 'id': ordonnance.id }) }}" role="button">voir</a>
                            <a class="btn btn-success btn-sm" href="{{ path('ordonnance_edit',
                            { 'id': ordonnance.id }) }}" role="button">modifier</a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
            <a class="btn btn-success btn-sm" href="{{ path('ordonnance_new') }}" role="button">Nouveau ordonnance</a>
    </ul>
</div>
{% endblock %}
