{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    <h1>Medecin</h1>

    <table class="table table-responsive table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medecin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ medecin.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ medecin.prenom }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ medecin.addresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ medecin.email }}</td>
            </tr>
            <tr>
                <th>Télèphone</th>
                <td>{{ medecin.telephone }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ medecin.sexe }}</td>
            </tr>
            <tr>
                <th>Cabinet</th>
                <td>{{ medecin.cabinet }}</td>
            </tr>
            <tr>
                <th>Specialité</th>
                <td>{{ medecin.specialite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

            <a class="btn btn-success btn-sm" href="{{ path('medecin_index') }}" role="button">Retour</a>

            <a class="btn btn-success btn-sm" href="{{ path('medecin_edit',
            { 'id': medecin.id }) }}" role="button">Modifier</a>
    </ul>
    <ul>
            {{ form_start(delete_form) }}
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}

    </ul>
</div>
{% endblock %}
