{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <h1>Liste de secretaire</h1>

    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Sexe</th>
                <th>Addresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secretaire in secretaires %}
            <tr>
                <td><a href="{{ path('secretaire_show', { 'id': secretaire.idsecretaire }) }}">{{ secretaire.idsecretaire }}</a></td>
                <td>{{ secretaire.nomsecretaire }}</td>
                <td>{{ secretaire.prenomsecretaire }}</td>
                <td>{{ secretaire.telsecretaire }}</td>
                <td>{{ secretaire.emailsecretaire }}</td>
                <td>{{ secretaire.sexesecretaire }}</td>
                <td>{{ secretaire.addressesecretaire }}</td>
                <td>
                    <ul>
                        <a class="btn btn-secondary btn-sm" href="{{ path('secretaire_show',
                        { 'id': secretaire.idsecretaire }) }}" role="button">voir</a>

                        <a class="btn btn-success btn-sm" href="{{ path('secretaire_edit',
                        { 'id': secretaire.idsecretaire }) }}" role="button">modifier</a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <a class="btn btn-success btn-sm" href="{{ path('secretaire_new') }}" role="button">Ajouter sécrétaire</a>
    </ul>
</div>
{% endblock %}
