{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper col-lg-3">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <h1>Secretaire</h1>

    <table class="table table-responsive table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ secretaire.idsecretaire }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ secretaire.nomsecretaire }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ secretaire.prenomsecretaire }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ secretaire.telsecretaire }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ secretaire.emailsecretaire }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ secretaire.sexesecretaire }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ secretaire.addressesecretaire }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <a class="btn btn-success btn-sm" href="{{ path('secretaire_index') }}" role="button">Retour</a>
        <a class="btn btn-success btn-sm"  href="{{ path('secretaire_edit',
        { 'id': secretaire.idsecretaire }) }}">Modifier</a>
    </ul>
    <ul>
        {{ form_start(delete_form) }}
        <input  class="btn btn-outline-danger btn-sm" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
    </ul>
</div>
{% endblock %}
