{% extends 'base.html.twig' %}

{% block body %}
    <div class="content-wrapper col-lg-4">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

        <h1>Nouveau Medicament</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <ul>
        <input class="btn btn-success btn-sm" type="submit" value="Ajouter" />
    {{ form_end(form) }}
            <a class="btn btn-success btn-sm" href="{{ path('medicament_index') }}" role="button">Retour</a>

    </ul>
    </div>
{% endblock %}
