{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <h1>Medicament</h1>

    <table class="table table-responsive table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medicament.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ medicament.nom }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ medicament.quantite }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ medicament.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
            <a class="btn btn-success btn-sm" href="{{ path('medicament_index') }}" role="button">Retour</a>
            <a class="btn btn-success btn-sm" href="{{ path('medicament_edit',
            { 'id': medicament.id }) }}" role="button">Modifier</a>
    </ul>
    <ul>
            {{ form_start(delete_form) }}
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}

    </ul>
</div>
{% endblock %}
