{% extends 'base.html.twig' %}

{% block body %}
<div class="content-wrapper ">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    <h1>Consultation</h1>

    <table class="table table-responsive table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if consultation.date %}{{ consultation.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Diagnostic</th>
                <td>{{ consultation.diagnostic }}</td>
            </tr>
            <tr>
                <th>Traitement</th>
                <td>{{ consultation.traitement }}</td>
            </tr>
            <tr>
                <th>Decision</th>
                <td>{{ consultation.decision }}</td>
            </tr>
        </tbody>
    </table>

    <ul>

            <a class="btn btn-success btn-sm" href="{{ path('consultation_index')
            }}" role="button">Retour</a>
            <a class="btn btn-success btn-sm" href="{{ path('consultation_edit', { 'id': consultation.id })
            }}" role="button">Modifier</a>
    </ul>
    <ul>
            {{ form_start(delete_form) }}
                <input class="btn btn-outline-danger btn-sm" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
    </ul>
</div>
{% endblock %}
